/*Styles for Project 5 */
body{
font-family:sanvito-pro-display,sans-serif;
  font-style:normal;
  font-weight:700;
  letter-spacing: .5px;
  line-height: 1.5;
  padding: 10%;
}

h1 {
    color: lightskyblue;
    font-weight: 500;
}

h2 {
  font-weight:500;
}

img {
  max-width: 100%;
}

ul{
  margin-bottom: 2rem;
}