/*Styles for Project 4 */

body{
font-family:acumin-pro,sans-serif;
  font-style:normal;
  font-weight:400;
  letter-spacing: .5px;
  line-height: 1.5;
  padding: 10%;
}

h1 {
    color: red;
    font-weight: 500;
}

h2 {
  font-weight:500;
}

img {
  max-width: 100%;
}

ul{
  margin-bottom: 2rem;
}
